$color1: #2F3E46;
$color2:#354F52 ;
$color3: #52796F;
$color4:#84A98C;
$color5: #CAD2C5;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

body{
    background: rgb(254, 254, 254);
}



